In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('/Users/edwardamoah/Documents/GitHub/osmiaBeePop/research/data/grab_amoah_nest_2017.csv')

Notes from Kate

I am so sorry for the delayed response, please forgive me - this is my first fall semester teaching and keeping up with research has been a challenge during the beginning. However, I've got my sea legs now and I'm committed to being more responsive! :) 
Yes, I'm happy to share the full data for the 2017 trap nests! You're correct that not all nest individuals are represented in that data file. Attached is a csv file with the full trap nest data. It looks like it could be pretty straightforward for evaluating cells provisioned per nest at each site, because I've already got the nests numbered across the whole study (nest_id column)! And the "Location_Code" column specifies each community scientist's site (replaced their last names with these three letter codes, all are acronyms for Dolly Parton song titles :)), and there's also latitude and longitude data there too.

You'll see that not every cell has been identified to species, because some cell occupants were not adults (dead larvae/pupae, pollen balls, fungal detritus where a bee should be). However, usually it notes the species identity their nestmates or it's logical to infer that from the nest cells adjacent to it.

Let me know what needs further clarification, and let me know if it's helpful to meet and chat about these data further! And of course if you could please generally keep me in the loop if y'all intend to publish this data anywhere, I would be super grateful to be a collaborator and supporter of this project. :)

In [3]:
data.groupby('Location_Code').size()

Location_Code
ALY    41
AWR    10
BIL    10
BTH    31
BWB    41
       ..
WCH    58
WOS    19
WOY     6
WTW    51
YWM    54
Length: 61, dtype: int64

In [4]:
data.groupby('nest_id').size()

nest_id
1      10
2       9
3       9
4      10
5      10
       ..
216    12
217    13
218     7
219     7
220     6
Length: 196, dtype: int64

In [5]:
data['SPECIES'].unique()

array(['taurus', '.', 'cornifrons', 'lignaria', 'georgica', 'subfasciata',
       'unknown'], dtype=object)

In [6]:
data['SPECIES'].value_counts()

SPECIES
taurus         684
.              597
cornifrons     317
lignaria       157
georgica       127
subfasciata      6
unknown          1
Name: count, dtype: int64

In [7]:
data_cornifrons = data[data['SPECIES'] == 'cornifrons']

In [8]:
data_cornifrons.columns.tolist()

['ORDER_or_GROUP',
 'FAMILY',
 'GENUS',
 'SPECIES',
 'Sex',
 'stage_found',
 'alive',
 'concatcomments',
 'nest_id',
 'Ascosphaera_screened',
 'ASCO_ID',
 'Ascosphaera',
 'wt_mg',
 'Hotel_Type',
 'Hole_Diameter',
 'Replicate',
 'Cell_Position',
 'Study',
 'Country',
 'State',
 'County',
 'Town',
 'lat',
 'lon',
 'last_update',
 'number_of_specimens',
 'id',
 'pcr_asco',
 'Collected_From',
 'species_switch_in_nest',
 'pantrap_site',
 'Location_Code',
 'Landscape.Type']

In [9]:
data_cornifrons[['lat','lon',]]

          lat     lon
80    38.8391 -77.289
81    38.8391 -77.289
82    38.8391 -77.289
83    38.8391 -77.289
84    38.8391 -77.289
...       ...     ...
1793  38.8391 -77.289
1795  38.8391 -77.289
1796  38.8391 -77.289
1797  38.8391 -77.289
1799  38.8391 -77.289

[317 rows x 2 columns]

In [10]:
data_cornifrons['lat'].unique()

array([38.8391  , 38.443   , 39.191   , 38.0568  , 39.0142  , 39.004   ,
       38.0654  , 38.4446  , 38.273218, 38.969555, 39.002806, 38.8051  ,
       39.059141, 39.1854  , 39.3373  , 39.1496  , 38.038905, 39.0326  ,
       38.935833, 38.9582  , 38.811907, 37.9602  , 39.0221  , 38.3712  ,
       39.24797 ])

In [11]:
data_cornifrons.groupby(['Landscape.Type',"Location_Code"]).size()

Landscape.Type  Location_Code
A               AWR              10
                GSD              11
                HCA              12
                LVA              13
                SGN              11
                TMH              13
D               HBE               6
                HMH              19
                KID               6
                MMD              23
                MOL              19
                RTR               5
                SDN              12
                SWG              14
                TNT              19
                TTH              19
                WTW               4
                YWM              23
N               ALY              10
                BTH              10
                CTM              28
                HBT               1
                IIF              10
                LLB              11
                TMB               8
dtype: int64

In [12]:
len(data_cornifrons['nest_id'].unique())

45

In [13]:
len(data_cornifrons['Location_Code'].unique())

25

In [14]:
#data_cornifrons.groupby(['Location_Code','nest_id']).size()
data_cornifrons.groupby(['Location_Code','nest_id'], as_index=False).size().groupby('Location_Code').mean()

                  nest_id       size
Location_Code
ALY            110.000000   5.000000
AWR            154.000000  10.000000
BTH            162.000000  10.000000
CTM            101.750000   7.000000
GSD            112.000000  11.000000
HBE            125.000000   3.000000
HBT            105.000000   1.000000
HCA            110.000000  12.000000
HMH             98.333333   6.333333
IIF            184.500000   5.000000
KID            136.000000   3.000000
LLB             68.000000   5.500000
LVA             26.000000  13.000000
MMD            155.000000   7.666667
MOL             98.000000   9.500000
RTR            183.000000   5.000000
SDN             15.000000  12.000000
SGN            158.500000   5.500000
SWG             39.000000   7.000000
TMB            205.000000   8.000000
TMH             85.000000  13.000000
TNT             92.000000   6.333333
TTH            110.000000   9.500000
WTW             18.000000   4.000000
YWM            112.666667   7.666667

In [15]:
data_cornifrons.groupby(['Location_Code','nest_id'], as_index=False).size().groupby('Location_Code').size()

Location_Code
ALY    2
AWR    1
BTH    1
CTM    4
GSD    1
HBE    2
HBT    1
HCA    1
HMH    3
IIF    2
KID    2
LLB    2
LVA    1
MMD    3
MOL    2
RTR    1
SDN    1
SGN    2
SWG    2
TMB    1
TMH    1
TNT    3
TTH    2
WTW    1
YWM    3
dtype: int64

In [16]:
data.groupby(['Location_Code','nest_id'], as_index=False).size().groupby('Location_Code').mean()

                  nest_id       size
Location_Code
ALY            135.000000   8.200000
AWR            154.000000  10.000000
BIL            145.500000   5.000000
BTH            161.000000  10.333333
BWB            115.500000  10.250000
...                   ...        ...
WCH             49.833333   9.666667
WOS             74.000000  19.000000
WOY            197.000000   6.000000
WTW             55.833333   8.500000
YWM             88.500000   9.000000

[61 rows x 2 columns]

I can get the date information from the publication. 

https://besjournals.onlinelibrary.wiley.com/doi/full/10.1111/1365-2664.14399

We have confirmed data from 45 nests from 25 sites. There are mostly 2 or 3 nest per site with at 1 and 4. 

There is also sex information that could be potentially used for sex allocation stuff, but not neccessary.

In [17]:
data_cornifrons.groupby('alive').count()

,ORDER_or_GROUP,FAMILY,GENUS,SPECIES,Sex,stage_found,concatcomments,nest_id,Ascosphaera_screened,ASCO_ID,...,lon,last_update,number_of_specimens,id,pcr_asco,Collected_From,species_switch_in_nest,pantrap_site,Location_Code,Landscape.Type
alive,,,,,,,,,,,,,,,,,,,,,
no,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,1
nobut,78,79,78,80,79,79,80,80,77,0,...,80,80,80,80,80,80,1,80,80,80
yes,229,229,230,230,229,230,230,230,173,5,...,230,230,230,230,230,230,15,230,230,230

In [18]:
import pandas as pd

pd.set_option('display.max_columns', None)
data_cornifrons

,ORDER_or_GROUP,FAMILY,GENUS,SPECIES,Sex,stage_found,alive,concatcomments,nest_id,Ascosphaera_screened,ASCO_ID,Ascosphaera,wt_mg,Hotel_Type,Hole_Diameter,Replicate,Cell_Position,Study,Country,State,County,Town,lat,lon,last_update,number_of_specimens,id,pcr_asco,Collected_From,species_switch_in_nest,pantrap_site,Location_Code,Landscape.Type
80,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,female,adult,yes,JF;9;;;,9,1.0,K181Asco_R,A. naganensis,82.5,wood,8,3,10,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43558,1,181,1,Trap Nest,NaN,n,TTH,D
81,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,female,adult,yes,JF;9;;;,9,1.0,NaN,NaN,73.3,wood,8,3,9,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43558,1,182,0,Trap Nest,NaN,n,TTH,D
82,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,female,adult,yes,JF;9;;;,9,1.0,K183Asco_R,A. naganensis,79.2,wood,8,3,8,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43558,1,183,1,Trap Nest,NaN,n,TTH,D
83,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,female,adult,yes,fungus-y cocoon? JF;9;;;,9,1.0,NaN,NaN,76.9,wood,8,3,7,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43558,1,184,0,Trap Nest,NaN,n,TTH,D
84,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,female,adult,yes,JF;9;;;,9,1.0,NaN,NaN,69.3,wood,8,3,6,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43558,1,185,0,Trap Nest,NaN,n,TTH,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1793,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,female,adult,nobut,JF;211;;;,211,NaN,NaN,NaN,NaN,wood,8,2,7,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43373,1,2140,0,Trap Nest,NaN,n,TTH,D
1795,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,female,adult,nobut,JF;211;;;,211,1.0,NaN,A. naganensis,NaN,wood,8,2,5,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43558,1,2142,1,Trap Nest,NaN,n,TTH,D
1796,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,female,adult,nobut,JF;211;;;,211,NaN,NaN,NaN,NaN,wood,8,2,4,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43373,1,2143,0,Trap Nest,NaN,n,TTH,D
1797,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,male,adult,nobut,JM;211;;;,211,NaN,NaN,NaN,NaN,wood,8,2,3,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43373,1,2144,0,Trap Nest,NaN,n,TTH,D
1799,Hymenoptera-Apiformes,Megachilidae,Osmia,cornifrons,male,adult,yes,JM AS (pair 40);211;;;,211,NaN,NaN,NaN,NaN,wood,8,2,1,Osmia across Virginia,USA,Va.,Fairfax,Fairfax City,38.8391,-77.289,43373,1,2146,0,Trap Nest,NaN,n,TTH,D

In [19]:
data_cornifrons.groupby('stage_found').count()

,ORDER_or_GROUP,FAMILY,GENUS,SPECIES,Sex,alive,concatcomments,nest_id,Ascosphaera_screened,ASCO_ID,Ascosphaera,wt_mg,Hotel_Type,Hole_Diameter,Replicate,Cell_Position,Study,Country,State,County,Town,lat,lon,last_update,number_of_specimens,id,pcr_asco,Collected_From,species_switch_in_nest,pantrap_site,Location_Code,Landscape.Type
stage_found,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
adult,307,308,308,309,308,309,309,309,249,5,21,202,309,309,309,309,309,309,305,309,309,309,309,309,309,309,309,309,16,309,309,309
pupa,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1

https://climateecology.github.io/ecospatial-workshop/EcoSpatial_Workshop_GIS.html


Data and code for processing the CDL layers to get the spring foraging resource quality for each 4km grid

In [25]:
data.groupby(['nest_id', 'SPECIES'], as_index=False).size().to_csv('/Users/edwardamoah/Documents/GitHub/osmiaBeePop/research/data/nest_id_species.csv')

In [32]:
data.columns.tolist()

['ORDER_or_GROUP',
 'FAMILY',
 'GENUS',
 'SPECIES',
 'Sex',
 'stage_found',
 'alive',
 'concatcomments',
 'nest_id',
 'Ascosphaera_screened',
 'ASCO_ID',
 'Ascosphaera',
 'wt_mg',
 'Hotel_Type',
 'Hole_Diameter',
 'Replicate',
 'Cell_Position',
 'Study',
 'Country',
 'State',
 'County',
 'Town',
 'lat',
 'lon',
 'last_update',
 'number_of_specimens',
 'id',
 'pcr_asco',
 'Collected_From',
 'species_switch_in_nest',
 'pantrap_site',
 'Location_Code',
 'Landscape.Type']

In [35]:
data[[ 'lat',
 'lon', 'Location_Code'
 ]].groupby(['Location_Code'], as_index=False).mean().to_csv('/Users/edwardamoah/Documents/GitHub/OsmiaPopModel/data/vg_lat_lon.csv')

In [29]:
dt = data.groupby(['Location_Code','nest_id'], as_index=False).size().groupby('Location_Code', as_index=False).mean()

In [30]:
dt.to_dict()

{'Location_Code': {0: 'ALY',
  1: 'AWR',
  2: 'BIL',
  3: 'BTH',
  4: 'BWB',
  5: 'CBM',
  6: 'CDJ',
  7: 'CMC',
  8: 'CTM',
  9: 'CYM',
  10: 'DWH',
  11: 'GBE',
  12: 'GSD',
  13: 'GTL',
  14: 'HBE',
  15: 'HBT',
  16: 'HCA',
  17: 'HIM',
  18: 'HMH',
  19: 'HPY',
  20: 'IIF',
  21: 'IOO',
  22: 'KID',
  23: 'LER',
  24: 'LHF',
  25: 'LJS',
  26: 'LLB',
  27: 'LLI',
  28: 'LTG',
  29: 'LVA',
  30: 'LYB',
  31: 'MMD',
  32: 'MOL',
  33: 'NRM',
  34: 'NSD',
  35: 'OLS',
  36: 'RTR',
  37: 'SDD',
  38: 'SDN',
  39: 'SGN',
  40: 'SIW',
  41: 'SVN',
  42: 'SWG',
  43: 'TCY',
  44: 'THM',
  45: 'TLW',
  46: 'TMB',
  47: 'TMH',
  48: 'TNT',
  49: 'TOW',
  50: 'TTH',
  51: 'TVM',
  52: 'TVS',
  53: 'TYT',
  54: 'ULG',
  55: 'VIH',
  56: 'WCH',
  57: 'WOS',
  58: 'WOY',
  59: 'WTW',
  60: 'YWM'},
 'nest_id': {0: 135.0,
  1: 154.0,
  2: 145.5,
  3: 161.0,
  4: 115.5,
  5: 67.8,
  6: 45.5,
  7: 101.8,
  8: 94.5,
  9: 153.0,
  10: 127.0,
  11: 112.0,
  12: 112.0,
  13: 142.8,
  14: 145.25,
  15: 108.33333333333333,
  16: 145.5,
  17: 65.0,
  18: 96.16666666666667,
  19: 105.0,
  20: 132.75,
  21: 162.0,
  22: 118.2,
  23: 157.5,
  24: 153.0,
  25: 88.66666666666667,
  26: 75.66666666666667,
  27: 69.5,
  28: 142.0,
  29: 26.0,
  30: 116.5,
  31: 155.0,
  32: 98.0,
  33: 148.0,
  34: 151.0,
  35: 121.0,
  36: 115.25,
  37: 46.5,
  38: 15.0,
  39: 159.25,
  40: 80.0,
  41: 58.5,
  42: 117.25,
  43: 133.0,
  44: 94.5,
  45: 112.66666666666667,
  46: 165.8,
  47: 102.0,
  48: 77.25,
  49: 82.0,
  50: 82.25,
  51: 95.4,
  52: 155.75,
  53: 146.66666666666666,
  54: 180.0,
  55: 88.0,
  56: 49.833333333333336,
  57: 74.0,
  58: 197.0,
  59: 55.833333333333336,
  60: 88.5},
 'size': {0: 8.2,
  1: 10.0,
  2: 5.0,
  3: 10.333333333333334,
  4: 10.25,
  5: 9.2,
  6: 11.5,
  7: 10.4,
  8: 7.333333333333333,
  9: 9.0,
  10: 8.5,
  11: 10.0,
  12: 11.0,
  13: 8.6,
  14: 6.75,
  15: 11.0,
  16: 13.0,
  17: 4.0,
  18: 10.5,
  19: 6.5,
  20: 9.25,
  21: 5.0,
  22: 8.8,
  23: 11.0,
  24: 10.25,
  25: 11.666666666666666,
  26: 5.0,
  27: 14.0,
  28: 12.5,
  29: 19.0,
  30: 10.0,
  31: 11.0,
  32: 12.0,
  33: 8.0,
  34: 7.0,
  35: 9.0,
  36: 13.5,
  37: 7.5,
  38: 12.0,
  39: 6.75,
  40: 17.0,
  41: 11.0,
  42: 9.25,
  43: 10.6,
  44: 5.0,
  45: 8.5,
  46: 8.2,
  47: 10.0,
  48: 8.25,
  49: 22.0,
  50: 10.0,
  51: 11.0,
  52: 10.75,
  53: 10.5,
  54: 6.0,
  55: 6.25,
  56: 9.666666666666666,
  57: 19.0,
  58: 6.0,
  59: 8.5,
  60: 9.0}}